debug
obj
ipch
x64/Debug/*
x64/Release/*
*.user
*.ncb
*.htm
*.obj
*.manifest
*.manifest.res
*.idb
*.pdb
*.dep
*.ilk
*.lib
*.exp
*.aps
*.res
*.pch
*.log
*.sdf
*.tlog
*.lastBuildstate
*.cache
Drawing1.dwl
Drawing1.dwl2
GeneratedFiles
*.suo
*.VC.db
MfcPy/x64/Release/content.txt
.idea
